h1{
    margin: 0px 0px 0px 0px;
}

p{
    margin: 0px 0px 0px 0px;
    font-size: 20px;
}

body{
    margin: 0px 0px 0px 0px;
}

a{
    font-size: 20px;
}


#title{
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    text-align: center;
}

main{
    margin: 10px 10px 10px 10px;
}

#parent{
    display: flex;
    justify-content: center;
}

.contents{
    border: solid 3px rgb(238,204,204);
    padding: 10px 15px 10px 15px;
    margin: 20px 0px 20px 0px;
    text-align: center;
}