p {
       background-color: yellow;
     }
     #first-span {
       background-color: lightblue;
     }
     #second-span {
       background-color: lightgreen;
     }
     #third-span {
       background-color: lightgray;
    }
    